@import "../../scss/mixins.scss";

.mintwallet{
    margin-top: 68px;
    max-width: 382px;
    // width: 100%;

    padding: 0 20px;
}
.mintwallet__wrapper{    
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(44px);    

    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    transition: background .2s ease;    

    &.disconnect:hover{        
        background: rgba(0, 0, 0, 0.7);
    }

    span{
        white-space: nowrap;

        @include jakarta(500);
        font-weight: 500;
        font-size: 15px;
        line-height: 1.2;

        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    @media (max-width: 374px){
        border-radius: 8px;

        span{
            font-size: 13px;
        }
    }
}
.mintwallet__balance{
    padding: 16px 15px;
    margin: auto;

    @media (max-width: 374px){
        padding: 14px 10px;
    }
}
.mintwallet__wallet{
    padding: 16px 15px;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(44px);
    border-radius: 12px;

    display: flex;
    align-items: center;

    &::after{
        margin-left: 10px;
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #FFD600;
    }

    @media (max-width: 374px){
        padding: 14px 10px;
        border-radius: 8px;
    }
}
.mintwallet__connect{
    display: flex;
    align-items: center;
    padding: 0 10px;

    img{
        width: 45px;
        height: 45px;
    }
    span{
        margin-left: 10px;
    }
}