@import "../../scss/mixins.scss";

.mintcontent{
    padding-top: 81px;
    padding-bottom: 123px;
    padding-left: 110px;
    max-width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px){
        padding-top: 54px;
        padding-bottom: 101px;
        padding-left: 0;
    }
}
.mintcontent__interned-made{
    max-width: 536px;
}
.mintcontent__runline{
    background: #FFA133;
    padding: 14px 0;
    transform: rotate(-4.04deg);

    @media (max-width: 465px){
        padding: 5px 0;
    }
}
.mintcontent__runline-item{
    padding: 0 15px;

    img{
        max-width: 141px;
    }
    h2{
        @include monument(400);
        font-size: 31.0309px;
        line-height: 1.055;
        
        text-transform: uppercase;
        
        color: #000000;
    }
    p{
        max-width: 257px;
        
        @include monument(400);
        font-size: 13.6973px;
        line-height: 1.055;

        text-transform: uppercase;

        color: #000000;
    }

    @media (max-width: 465px){
        padding: 0 10px;
        img{
            max-width: 113px;
        }
        h2{
            font-size: 20.76px;
        }
        p{
            font-size: 9px;
            max-width: 171px;
        }
    }
}