.header{
    @media (min-width: 769px){
        display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px 13px 38px;     
    background: rgba(41, 44, 52, 0.3);
    backdrop-filter: blur(44px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    width: 100%;

    @media (max-width: 404px){
        padding-left: 25px;
    }
}
.header__burgermenu{
    display: block;
    width: 26px;
    height: 22px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    span{
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
    }
    span:nth-child(2){
        width: 76%;
    }
}