.sidebar__wrapper{
    display: flex;
}
.sidebar{
    padding: 27px 21px;
    background: rgba(41, 44, 52, 0.3);
    backdrop-filter: blur(44px);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1304px){
        padding: 25px;
    }
    @media (max-width: 768px){
        display: none;
    }
}
.sidebar__logo{
    width: 38px;

    img{
        width: 100%;
    }
}
.sidebar__nav{
    margin-top: 28px;
    writing-mode: vertical-rl;
    transform: scale(-1);
    max-height: 600px;
    overflow-y: auto;
    overflow-x:  hidden;
    padding: 0 15px;

    display: flex;
    align-items: center;
    position: relative;

    &::-webkit-scrollbar{
        display: none;
    }
}
.sidebar__link{
    font-size: 12px;
    line-height: 1.21;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    white-space: nowrap;
    color: #FFFFFF;

    opacity: 0.7;

    margin: 10px 0;

    &.active{
        opacity: 1;
    }
}

// extra

.extra-sidebar{
    --extra-sidebar-width: 39px;

    max-width: var(--extra-sidebar-width); // It's a small trick for text-image below:)
    padding-top: var(--extra-sidebar-width);    
    padding-left: 37px;

    display: flex;
    align-items: flex-start;

    a{        
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #FFFFFF;

        opacity: 0.7;
        white-space: nowrap
    }

    a + a{
        margin-left: 10px;
    }

    @media (max-width: 768px){
        display: none;
    }
}